<.header>
  Edit Post <%= @post.id %>
  <:subtitle>Use this form to manage post records in your database.</:subtitle>
</.header>

<.post_form changeset={@changeset} current_user={@current_user} tag_options={@tag_options} action={~p"/posts/#{@post}"} />

<.back navigate={~p"/posts"}>Back to posts</.back>
